body {
	font-size:90%;
	padding:0;
	margin:0;
	background:#FFF8C2;
	font-family:'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,Osaka,'MS PGothic',arial,helvetica,sans-serif;
}
#head {
	background:#A99770;
	color:#fff;
	padding:3px 6px;
	font-weight:bold;
}
#body {
	padding: 6px;
}
#foot {
	background:#A99770;
	clear:both;
}
#ttl {
	font-weight:bold;
	color:#FF934B;
	border-bottom:1px solid #FF934B;
	padding:2px;
	margin-bottom:1em;
}
.form-tbl {
	border-collapse: collapse;
	margin: 1.5em;
}
.form-tbl th {
	border: 1px solid #666;
	background: #ccc;
	padding: 6px;
}
.form-tbl td {
	border: 1px solid #666;
	background: #fff;
	padding: 6px;
}
.menu-btn {
	border-collapse:collapse;
	width:150px;
	margin:1em auto;
}
.menu-btn th {
	border:1px solid #A99770;
	background:#fff;
	padding:4px 2px;
	height:38px;
}
.menu-btn input {
	width:120px;
}
img.icon {
	vertical-align:middle;
}
#note {
	border:1px dotted #333;
	padding:6px;
	width:650px;
	background:#fff;
}
#note p {
	margin:0 0 10px 6px;
	color:#2f7b37;
	font-weight:bold;
}
#msg {
	border:1px dotted #333;
	padding:1em;
	width:500px;
	background:#fff;
	text-align:center;
	border-radius:6px;
	margin-top:2em;
}
#msg p {
	color:green;
}
#err {
	border:1px dotted red;
	padding:1em;
	width:400px;
	background:#fff;
	text-align:center;
	border-radius:6px;
	margin:3em;
	color:red;
}
#ope-btn {
	margin: 0 1.5em;
}
#ope-btn input {
	width: 80px;
}
.ta-c {
	text-align:center;
}
.ta-r {
	text-align:right;
}
.grn {
	color:#008942;
}
.back-btn {
	margin: 3px;
	text-align: right;
}

/* for login */
#login {
	width: 400px;
	margin: 3em auto;
	text-align: left;
	padding: 1em 2em;
	border-radius:6px;
}
#login legend {
	padding: 5px;
	font-weight: bold;
}
#login input[type="text"], #login input[type="password"] {
	width: 300px;
	padding: 5px;
}
#login input[type="submit"] {
	width: 100px;
	height: 30px;
}
#login p {
	margin: 2em 0;
}
#err-box {
	width: 400px;
	margin: 2em auto;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 1em;
	text-align: center;
}
#err-msg {
	color: #dd0000;
}
#msg-box {
	width: 400px;
	margin: 2em;
	border: 1px solid gray;
	padding: 1em;
	text-align: center;
	color: #006400;
}

